.skillsContainer {
  display: flex;
  background-color: #0D1117;
}

.skills {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #211D28;
  flex: 1;
}

.stackCard {
  display: flex;
  flex-wrap: wrap;
  text-wrap: nowrap;
}

.stackCardItem {
  display: flex;
  width: min-content;
  background-color: #30363d;
  margin: 2px;
  padding: 2px 8px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  color: #C9D1D9;
}

.normal {
  border-color: hsla(220, 9%, 46%, 0.6);
}

.favourable {
  border-color: rgba(34, 197, 94, 0.6);
}

.usedTo {
  border-color: rgba(59, 130, 246, 0.6);
}

.toLearn {
  border-color: rgba(239, 68, 68, 0.6);
}
