.timelinContainer {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-secondaryColor);
  flex: 1;
  flex-direction: column;
  height: 500px;
}

.timelineHeader {
  margin: 0 0 10px 0;
  color: var(--color-foreground);
  font-size: 22px;
}
/* 
.timeline {
  height: 200px;
  background-color: #c0c0cc;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  display: flex;
  padding: 60px;
} */

.timelineElement {
  position: absolute;
}


.timeline {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.timeline h2 {
  text-align: center;
  margin-bottom: 20px;
}

.timeline-container {
  position: relative;
}

.timeline-container::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin: 20px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
  padding-right: 30px;
}

.timeline-item:nth-child(even) {
  left: 50%;
  padding-left: 30px;
}

.timeline-content {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.timeline-content .year {
  font-weight: bold;
  color: #007bff;
  display: block;
  margin-bottom: 5px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-item:nth-child(odd)::before {
  right: 15px;
}

.timeline-item:nth-child(even)::before {
  left: 15px;
}