body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background);
}

div {
  display: flex;
}

.column {
  flex-direction: column;
}

.light {
  --color-background: #fafafa;
  --color-foreground: #1f2023;

  --image-grayscale: 0;
  --image-opacity: 100%;
  --color-linkedin: #004182;
  --color-pdf: #ca3737;
}

.dark {
  /* --color-background: #1f2023; */
  --color-background: #0d1117;
  --color-foreground: #efefef;

  --color-secondaryColor: #1c1b23;

  --image-grayscale: 50%;
  --image-opacity: 90%;
  --color-linkedin: #004182;
  --color-pdf: #9c4949;
}

.topContainer {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.topLeftContainer {
  background-color: var(--color-secondaryColor);
  border-radius: 10px;
  margin: 10px;
  height: 98vh;
  width: 25vw;
  position: relative;
  overflow: hidden;
}

.topRightContainer {
  margin: 10px 10px 10px 0;
  height: 98vh;
  position: relative;
  overflow-y: scroll;
}

img,
video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}
